h1 {
    color:black;
    text-align: center;
}

 #canvas {
    gap: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

#changeGridSize {
    display: flex;
    justify-content: center;
}

.divRow {
    gap: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divRow > div {
    height: 25px;
    width: 25px;
    border: solid;
    border-color: blueviolet;
}


