h1 {
    color:aquamarine;
    text-align: center;
}

#canvas {
    gap: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#canvas > div {
    height: 25px;
    width: 25px;
    border: solid;
    border-color: blueviolet;
}